*{
    letter-spacing: 2px;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3.5rem;
}
.logo{
    width: 3rem;
    height: 3rem;
    border: 2px solid white;
}
.header-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15rem;
    gap: 0.5rem;
    /* background-color: black; */
}
#noone{
    /* width:100%;
    height: 15rem; */
    display: flex;
    flex-direction: column;
    align-items:center;
    /* gap: 1rem; */
    /* background-color: aqua; */
    margin-bottom: 3.5rem;
}
/* .f-main-text h3{
    margin-left: 1.2rem;
} */
.f-main-text{
    /* width: 10rem;
    height: 5rem; */
    /* border: 2px solid black; */
    text-align: center;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 3.5rem;
}
.ima-cont{
    width: 10rem;
    height: 10rem;
    /* border: 2px solid black; */
    background-size: contain;
}
#terms{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 3.5rem;
}
#contact{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 2rem; */
}
.t-text,.c-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttons{
    width: 9rem;
    height: 1.5rem;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.btn{
    border: none;
    background: transparent;
}
.terms .container {
    margin-top: 50px;
    margin-bottom: 50px;
  }

.terms h1 {
    color: #007bff;
  }

.terms h4 {
    color: #007bff;
  }

.terms p {
    font-size: 16px;
  }

.terms  .refund-policy {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
  }